.favorites {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
}
.imagediv {
  color: rgb(172, 2, 2);
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  margin-top: 7em;
}

.imagediv img {
  margin-bottom: 20px;
  width: 300px;
}

.imagediv button {
  margin-bottom: 20px;
  width: 150px;
}

.entireForm {
  background-color: #8fc5fe;
  padding-left: 5em;
  padding-bottom: 3em;
  border-radius: 4em;
  margin: 3em;
}

.form h2 {
  margin-bottom: 0.5em;
  font-size: 22px;
  padding-top: 2em;
}

#btn {
  background-color: rgb(230, 176, 180);
  padding: 5px;
  margin-top: 3em;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;

  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 9px -1px,
    rgba(0, 0, 0, 0.3) 0px 3px 3px -1px;
  width: 6em;
  height: 3em;
}

#btn:hover {
  background-color: rgb(141, 40, 47);
  color: white;
}

#submit {
  background-color: rgb(230, 176, 180);
  padding: 5px;
  margin-top: 3em;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 9px -1px,
    rgba(0, 0, 0, 0.3) 0px 3px 3px -1px;
  width: 6em;
  height: 3em;
}
